{% extends 'main.html' %}

{% block content %}
{% include 'navbar.html' %}
<h1>we are in projects</h1>
<p>{{messege}}</p>
<table>
    <tr>
        {% comment %} <th>id</th> {% endcomment %}
        <th>Project</th>
        <th>Votes</th>
        <th>Ratio</th>
        <th>link</th>
        <th>modify</th>
        <th>delete</th>
        
    </tr>
    {% for project in projects %}
        <tr>
            {% comment %} <td>{{project.id}}</td> {% endcomment %}
            <td>{{project.title}}</td>
            <td>{{project.vote_total}}</td>
            <td>{{project.vote_ratio}}</td>
            <td><a href="/projects/{{project.id}}">link</a></td>
            <td><a href="update-project/{{project.id}}">edit</a></td>
            <td><a href="delete-project/{{project.id}}">delete</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}